@import "tailwindcss";
@plugin "daisyui"{
  
  themes: light --default;

 }

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #00539C;
  --color-secondary: #FFD700;
  --color-accent: #89CFF0;
  --bg-primary: #ffffff;
  --text-primary: #1a1a1a;
  --nav-bg: rgba(255, 255, 255, 0.85);
  --border-color: #e5e7eb;
  --card-bg: #ffffff;
  --card-hover: #f3f4f6;
  --text-secondary: #4b5563;
  --section-bg: #f9fafb;
  --color-base-100: #ffffff; /* Your desired light background */

}

@plugin "daisyui/theme" {
  name: "dark";
  
  --color-base-100: #111111;
  --color-primary: #00539C;
  --color-secondary: #FFD700;
  --color-accent: #89CFF0;
  --bg-primary: #111111;  /* Your desired dark background */
  --text-primary: #ffffff;
  --nav-bg: rgba(17, 17, 17, 0.85);
  --border-color: #374151;
  --card-bg: #2d2d2d;
  --card-hover: #333333;
  --text-secondary: #9ca3af;
  --section-bg: #111111;


}



 @layer utilities {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}

@plugin "tailwindcss-animate";

 html {
  scroll-behavior: smooth;
}


